<Configuration>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
      <filters>
        <ScriptFilter onMatch="DENY" onMisMatch="ACCEPT">
          <Script name="JavascriptFilter" language="JavaScript">
            <![CDATA[
            // print() instead of console.log()
            var msg = logEvent.getMessage().getFormattedMessage();
            false
            || msg.indexOf("are not of the same type") != -1 
            || msg.indexOf("is not compatible with") != -1 
            || msg.indexOf("Uppported field type") != -1 
            ;
            ]]>
          </Script>
        </ScriptFilter>
      </filters>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console" />
    </Root>
    <Logger name="com.mhzed.solr.disjoin.DockerPerformanceTest" level="info">
    </Logger>    
  </Loggers>
</Configuration>